<p id="notice"><%= notice %></p>

<h1>Notes</h1>
<% @notes.each do |note| %>
  <div class="note">
    <h2><%= note.name %></h2>
    <div><%= note.content %></div>
    <footer>
      <%= link_to 'Show', note %>
      <%= link_to 'Edit', edit_note_path(note) %>
      <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
    </footer>
  </div>
<% end %>

<br>

<%= link_to 'New Note', new_note_path %>
